/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* End Box Sizing */

a:link {
    text-decoration:underline;
}


/* clearfix http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1; /* For IE 6/7 only */
}
/* End clearfix */


/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position:relative;
    min-height:100%;
}
body {
    margin:0 0 100px; /* bottom = footer height */
}

footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#ccc;
    text-align:center;
    padding:5px;
}
/* End Sticky Footer */

.logo span{
	font-size: 30px;
}

.logo a:link {
    text-decoration:none;
}

section, header, nav {
    padding:5px 25px;
}


/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label {
    margin-top:10px;
    margin-bottom:0;
    display:block;
    font-size:1em;
}

fieldset label {
    margin-top:0px;
}

legend {
    margin-bottom:5px;
    font-size:1em;
    border-bottom:0px;
}

.checkboxLabel, .radioLabel {
    display:inline;
}

input[type=text]{
    width:40px;
    font-size:20px;
}

input[type=submit]{
    width:100px;
    font-size:30px;
}
